{% macro music_form(music, styles) %}
<form method="POST" enctype="multipart/form-data">
  <div class="container d-flex flex-column align-items-stretch justify-content-center w-75">
    <div class="form-floating my-2">
      <input type="text" class="form-control" id="title" name="title" placeholder="Название трека" value="{{ music.title }}">
      <label for="floatingInput">
          Название трека
      </label>
    </div>
    <select class="form-select mb-2" multiple aria-label="Multiple select example" name="style">
      {% for style in styles %}
        <option value="{{ style.id }}" {% if style in music.styles %}selected{% endif %}> {{ style.style_name }}</option>
      {% endfor %}
    </select>
    <textarea name="short_description" placeholder="Описание трека"></textarea>
    <div class="form-floating mb-2">
      <input type="number" class="form-control" id="year" name="year" placeholder="Год выпуска" required min="1" max="9999" value="{{ music.year }}">
      <label for="floatingInput">
          Год выпуска
      </label>
    </div>
    <div class="form-floating mb-2">
      <input type="text" class="form-control" id="label" name="label" placeholder="Лейбл" value="{{ music.label }}">
      <label for="floatingInput">
          Лейбл
      </label>
    </div>
    <div class="form-floating mb-2">
      <input type="text" class="form-control" id="author" name="author" placeholder="Исполнитель" value="{{ music.author }}">
      <label for="floatingInput">
          Исполнитель
      </label>
    </div>
    <div class="form-floating mb-2">
      <input type="number" class="form-control" id="pages" name="pages" placeholder="Время (в секундах)" required min="1" max="9999" value="{{ music.pages }}">
      <label for="floatingInput">
          Время (в секундах)
      </label>
    </div>
    {% if not music%}
    <div class="mb-2">
      <label for="formFile" class="form-label">Обложка трека</label>
      <input type="file" class="form-control" id="formFile" name="file">
    </div>
    {% endif %}
    <button type="submit" class="btn btn-primary my-2">Отправить</button>
  </div>
</form>
<script src="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.css">
<script>
  const easyMDE = new EasyMDE()
  easyMDE.value(`{{ music.short_description if music.short_description else 'Краткое описание' }}`)
</script>
{% endmacro %}
