{% extends "base.html" %} 
{% block title %}{{ music.title }}{% endblock %}
{% block content %}
<div class="container d-flex flex-column align-items-center mt-3">
  <div class="card mb-3 w-75 h-75">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{{ url_for('static', filename='covers/' + music.cover.file_name) }}" class="card-img-top" alt="{{ music.cover.file_name }}">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h1 class="card-title"> {{ music.title }} </h1>
          <h3 class="card-title"> {{ music.author }} </h3>
          <p class="card-text">  {{ music.short_description.replace('\n', '<br>') | safe }} </p>
          <p class="card-text"><strong>Жанр</strong> : {% for style in music.styles %} {{ style.style_name }} {% endfor %}</p>
          <p class="card-text"><strong>Год издания</strong> : {{ music.year }}</p>
          <p class="card-text"><strong>Лейбл</strong> : {{ music.label }}</p>
          <p class="card-text"><strong>Время</strong> : {{ music.pages }}</p>
        </div>
      </div>
    </div>
  </div>
  {% for review in reviews %}
    <div class="card mb-3">
      <h5 class="card-header">
        {{ review.user.last_name }} {{ review.user.first_name[0] }}.{{ review.user.middle_name[0] }}.
      </h5>
      <div class="card-body">
        <h5 class="card-title">Oценка - {{ review.score }}</h5>
        <p class="card-text">{{ review.text.replace('\n', '<br>') | safe }}</p>
      </div>
    </div>
  {% endfor %}
  {% if not user_reviewed %}
    <a href="{{ url_for('views.add_review', id=music.id) }}" class="btn btn-primary mb-3" id="add_review">Оценить трек <i class="bi bi-pencil-square"></i></a>
  {% endif %}
</div>
{% endblock %}